.messages-container {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  overflow: hidden;
}
.messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5% 0;
  overflow-y: auto;
}
