/* Tooltip container - can be anything you want */
.tooltip {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual tooltip, default placement top */
.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 0.8rem;
  max-width: 150px;
  background-color: #777777;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 4px;
  position: absolute;
  z-index: 100;
}

.tooltip .tooltiptext p,
.tooltip .tooltiptext span {
  line-height: 120%;
  margin: 4px 6px;
}

/** left */
.tooltip .left {
  top: -5px;
  right: 110%;
}

/** right */
.tooltip .right {
  top: -5px;
  left: 110%;
}

/** top */
.tooltip .top {
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
}

/** bottom */
.tooltip .bottom {
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}

/* Tooltip bottom arrow */
.tooltip .top::after {
  content: "";
  position: absolute;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  top: 100%;
  left: 50%;
  border-color: #555 transparent transparent transparent;
}

/* Tooltip top arrow */
.tooltip .bottom::after {
  content: "";
  position: absolute;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  bottom: 100%;
  left: 50%;
  border-color: transparent transparent #555 transparent;
}

/* Tooltip left arrow */
.tooltip .right::after {
  content: "";
  position: absolute;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  right: 100%;
  top: 50%;
  border-color: transparent #555 transparent transparent;
}

/* Tooltip right arrow */
.tooltip .left::after {
  content: "";
  position: absolute;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  left: 100%;
  top: 50%;
  border-color: transparent transparent transparent #555;
}

/* Toggle this class - hide and show the popup */
.tooltip .visible {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
