.devlist_container {
  display: flex;
  flex: 0 0 1;
  align-items: center;
  justify-content: space-between;
}

.scrollx {
  overflow-x: scroll;
}

.camera_container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.largeicon {
  display: flex;
  font-size: 1em;
  padding: 10px;
  width: 32px;
  text-align: center;
  text-decoration: none;
  color: white;
  background: #55acee;
  border-radius: 50%;
}

.selected,
.camera_container .selected,
.enable:hover {
  background: royalblue;
}

.camera_container p {
  margin: auto;
  font-size: 12px;
  color: darkgrey;
}

.camera_row_container p {
  margin: auto;
  font-size: 10px;
  color: darkgrey;
}

.cameras_sub_container {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 15%;
  top: 50%;
  z-index: 1;
}

.camera_row_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smallicon {
  padding: 6px;
  font-size: 14px;
  width: 14px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.camera_row_container p {
  padding: 6px;
  font-size: 14px;

  color: darkgrey;
}

.enable {
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}
