html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
}

button {
  vertical-align: middle;
  background-color: transparent;
  color: white;
  margin: 0 1%;
  font-size: 1.2em;
}

button:hover {
  opacity: 0.7;
}

.video__container {
  display: flex;
  position: absolute;
  padding-top: 56.25%; /** 16: 9 aspect ratio */
  top: 0;
  left: 0;
  overflow: hidden;
}

/** Hide native controls */
/**.video__container video ::-webkit-media-controls {
  display: none;
} */

.video__container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  z-index: auto;
  background-color: black;
}

/**
.video__container video:hover + .video__controls {
  opacity: 1;
} */

.video__controls {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 0.8em;
  width: 100%;
  transition: 0.3s;
  flex-wrap: wrap;
  min-height: 40px;
  padding: 10px 5px;
  background-color: rgba(0, 0, 0, 0.6);
}

.video__container video:hover + .video__controls {
  display: flex;
}

.video__controls:hover {
  display: flex;
}

.div__fullscreen {
  display: block;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0;
  border-radius: 0 !important;
  z-index: 10000000;
}
/* 
Fullscreen Pseudo-class: 
https://developer.mozilla.org/en-US/docs/Web/CSS/:fullscreen 
*/
.video__container:-moz-full-screen {
  height: 100%;
  margin: 0;
  border-radius: 0 !important;
}
.video__container:-webkit-full-screen {
  height: 100%;
  margin: 0;
  border-radius: 0 !important;
}
.video__container:-ms-fullscreen {
  height: 100%;
  margin: 0;
  border-radius: 0 !important;
}
.video__container:fullscreen {
  height: 100%;
  margin: 0;
  border-radius: 0 !important;
}

.chat__container {
  display: flex;
  position: relative;
  align-items: center;
  flex: 1;
  margin: 0 1%;
  z-index: 0;
  margin-right: 5px;
  margin: 0 10px;
}

.video__container > input[type="text"] {
  border: none;
  border-radius: 0;
  padding: auto;
  flex-grow: 1;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.video__container > input[type="range"] {
  border-radius: 2px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: rgba(255, 255, 255, 0.7);
  height: 1px;
  border: none;
  cursor: pointer;
}

.video__container > input[type="range"]::-moz-range-track {
  vertical-align: middle;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  -moz-appearance: none;
  background-color: white;
  height: 1px;
  cursor: pointer;
}

.video__container > input[type="range"]::-moz-range-thumb {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: white;
  border: 0;
}

.video__container > input[type="range"].light::-moz-range-thumb {
  box-shadow: 0 0 8px 2px white;
}

.video__container > input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: white;
  border: 0;
}

.video__container > input[type="range"].light::-webkit-slider-thumb {
  box-shadow: 0 0 8px 2px white;
}

.video__container > input[type="range"]:active::-moz-range-track {
  background: orange;
}

.seeker {
  display: inline-block;
  position: relative;
  flex: 1;
  margin: 0 1%;
  z-index: 0;
  margin-right: 5px;
  margin: 0 10px;
}

.seekbar {
  z-index: 3;
  position: relative;
  width: 100%;
  background-color: transparent !important;
}

.progressbar,
.bufferbar {
  position: absolute;
  left: 0;
  top: 8px;
  width: 100%;
  pointer-events: none;
  height: 1px;
  z-index: 2;
  /* Turns off styling - not usually needed, but good to know. */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /* gets rid of default border in Firefox and Opera. */
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: #c0392b;
}
.progressbar::-moz-progress-bar,
.bufferbar::-moz-progress-bar {
  background: #c0392b;
}
.progressbar::-webkit-progress-bar,
.bufferbar::-webkit-progress-bar {
  background: rgba(255, 255, 255, 0.1);
}
.progressbar::-webkit-progress-value,
.bufferbar::-webkit-progress-value {
  background: #c0392b;
}

.bufferbar {
  z-index: 1;
  color: #aaa;
}
.bufferbar::-moz-progress-bar {
  background: #aaa;
}
.bufferbar::-webkit-progress-value {
  background: #aaa;
}

.volume__container {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.volumebar {
  width: 4rem;
  margin: 0 1%;
}

/* 
Special Shadow DOM Settings to Override Default Controls: 
https://css-tricks.com/custom-controls-in-html5-video-full-screen/ 
*/
video::-webkit-media-controls-enclosure {
  display: none !important;
}

/** sidebar */
.sidedlg {
  display: none;
  flex-direction: column;
  height: calc(100% - 40px);
  /* Add a bottom margin to avoid content overlay */
  margin-bottom: 40px;
  width: 300px;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

/** loader */
.loader {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-animate 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-animate {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.show {
  display: flex;
}
