.messagesContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}
.messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5% 0;
  overflow-y: auto;
}

.jabberContainer {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  border-radius: 0px;
  padding: 2px;
}

.jabberContainer span {
  margin-right: 5px;
  font-size: 12px;
  word-break: normal;
  width: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}
.jabberContainer .title {
  color: gray;
  flex: none;
}
