.loginOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  align-items: center;
}

.loginInnerContainer {
  width: 30%;
}

.heading {
  color: black;
  font-size: 2em;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .loginOuterContainer {
    height: 100%;
  }

  .loginInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}
