/** nav menu container */
.nav-pop-menu {
  display: none;
  position: fixed;
  background: gray;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  bottom: 40px;
  left: 0px;
  z-index: 10;
}

.nav-pop-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.nav-pop-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.nav-pop-menu a.active {
  background-color: #04aa6d; /* Add a green color to the "active/current" link */
  color: white;
}
