/** flex container */
.school_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  width: 100%;
}

.title {
  color: grey;
  font-size: 20px;
  padding: 5px 12px 5px 12px;
}

.introduce {
  width: 100%;
  padding: 12px 12px 12px 12px;
  white-space: pre-line;
  overflow-wrap: break-word;
  overflow: hidden;
}
