.sidebar {
  display: flex;
  background-color: #f1f1f1;
  position: relative;
  width: 100%;
  top: 0px;
  height: auto;
  overflow: hidden;
}

.sidebar a {
  display: block;
  color: black;
  padding: 6px;
  float: left;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-top: 0px;
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
